body {
    font-family: arial,sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: lighter;
    color: #db3236;
    clear: right;
    padding-bottom: 1rem;
}

.wrapper h1 {
    font-size: 92px;
    padding-top:  12vh;
}

h2 {
    color: #4885ed;
    font-size: medium;
}

input[type="text"] {
    font-size: large;
    border-radius: 24px;
    height: 44px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    display: flex;
    padding-left: 3rem;
}

#search-text {
    width: auto;
    min-width: 380px;
    margin-top: 1rem;
    margin: 0 auto;
    /* Magnifying Glass by il Capitano from the Noun Project, with modifications by me. */
    background-image: url("noun_Magnifying Glass_938460.svg");
    background-size: 4% auto;
    background-repeat: no-repeat;
    background-position: 2%;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
}

nav li {
    display: inline-block;
    color: rgba(0,0,0,0.87);
    padding-right: 15px;
    font-size: 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.green {
    color: #3cba54;
}

.yellow {
    color: #f4c20d;
}

.blue {
    color: #4885ed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faux-logo, .faux-logo * {
    text-align: center;
    margin: 0;
    padding-bottom: 0;
    font-weight: lighter;
}

.faux-logo h2 {
    text-align: right;
    padding-right: 1rem;
}

#advanced-search {
    border: 1px solid #3079ed;
    background-color: #3079ed;
    color: white;
    padding: 0 12px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
    height: 30px;
    width: 140px;
}

.wrapper-advanced {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.wrapper-advanced h1 {
    margin-left: -48px;
    padding-left: 48px;
    border-bottom: 1px lightgray solid;
    padding-bottom: 2rem;
}

.advanced-form {
    padding-top:  1rem;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.advanced-form input {
    height: 25px;
    border-radius: 1px;
    padding-left: 8px;
}

.advanced-form .button-row {
    justify-content: flex-end;
}

legend {
    font-size: 20px;
    margin-bottom: 2rem;
}


form {
    min-width: 50%;
    margin-top: 1.5rem;
}

.field-pair {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.field-pair input {
    flex-grow: 1;
}

.field-pair label {
    flex-shrink: 0;
    width: 13rem;
}

/* Wider seach box for wider screens */

@media (min-width: 640px) {
    #search-text {
        min-width: 561px;
    }
}
